source_url "https://raw.githubusercontent.com/cachix/devenv/d1f7b48e35e6dee421cfd0f51481d17f77586997/direnvrc" "sha256-YBzqskFZxmNb3kYVoKD9ZixoPXJh1C9ZvTLGFRkauZ0="

if ! [ -x "$(command -v flutter)" ] &>/dev/null; then
    FLUTTER_DIR=$(expand_path ./.flutter)

    # Flutter is not supported on MacOS by nix so we install it "manually"
    if [ ! -d "$FLUTTER_DIR/.git" ]; then
        git clone https://github.com/flutter/flutter.git -b 3.7.12 "$FLUTTER_DIR" --depth=1
    fi

    PATH_add "$FLUTTER_DIR/bin"
fi

export NIXPKGS_ACCEPT_ANDROID_SDK_LICENSE=1

use devenv
